.btn{
    @apply py-2 px-6 rounded border border-solid border-2 font-normal;
}

.btn:hover{
    @apply shadow-md bg-gray-25;
}

.buttons > .btn {
    @apply mr-2 mb-10;
}

.btn--accent{
    @apply bg-accent-75;
}

.btn--inverted{
    @apply block text-white;
}


@screen md{
    .btn{
        @apply w-auto inline-block;
    }
}
